body {
    color: #c3c3c3;
    background-color: #1a1a1a;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #fff;
    text-decoration: none;
}

header img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid green;
}

.center {
    text-align: center;
}

h1 {
    color: green;
}

h2, h3 {
    color: #fff;
}

footer img {
width: 30px;
height: 30px;
border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: green;
}